<header class="header">
  <div class="container">
    <nav class="header__nav">
      <button type="button" class="cow-btn js-start">
        Начать игру
      </button>
      <div class="header__menu">
        <button disabled type="button" class="cow-btn js-lose">
          Сдаться
        </button>
        <button type="button" class="cow-btn js-rule">
          Правила
        </button>
        <button type="button" class="cow-btn js-conceive">
          загадать вручную
        </button>
        <!-- <a class="cow-btn cow-btn--link" href="">другие игры</a> -->
        <a class="cow-btn cow-btn--link telegram telegram--black" href="https://t.me/Hardwar1" target="_blank">
          Связаться с разработчиком
        </a>
      </div>

      <button class="burger ">
        <span class="burger__line"></span>
        <span class="hide">открыть/закрыть меню</span>
      </button>
    </nav>
  </div>
</header>